.page-template-tpl-checkout-page .select2-search__field {
	display: none;
}
.page-template-tpl-checkout-page
	.select2-container--default
	.select2-selection--single {
	background-color: #fff;
	border: 1px solid #eaebf2;
	border-radius: 0;
	padding: 16px 25px;
	display: block !important;
	height: 62px;
}
.selection {
	display: block;
	border: 1px solid #eaebf2;
	border-radius: 76px;
	overflow: hidden;
}
.select2-dropdown {
	border-radius: 14px !important;
	border: 1px solid #eaebf2;
}

.select2-results__option {
	padding: 6px 25px;
}
.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected],
.select2-container--default
	.select2-results__option--highlighted[data-selected] {
	background-color: #b68742;
}

.page-template-tpl-checkout-page
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	top: 0;
	bottom: 0;
	margin: auto;
	right: 25px;
	background: #fff
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS43NUw2IDYuMjVMMTAuNSAxLjc1IiBzdHJva2U9IiM0MjRGNDQiIHN0cm9rZS1vcGFjaXR5PSIwLjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=)
		no-repeat center;
}

.page-template-tpl-checkout-page
	.select2-container--default
	.select2-selection--single
	.select2-selection__arrow
	b {
	display: none;
}

.iti__flag-container .iti__country-list {
	max-width: 345px;
	border-radius: 14px;
	border: 1px solid #eaebf2;
	font-size: 16px;
	box-shadow: none;
}
.iti.iti--allow-dropdown {
	width: 100%;
}
.iti__selected-flag {
	border-radius: 76px 0 0 76px;
	padding: 0 6px 0 25px;
}
.iti--allow-dropdown input[type='tel'] {
	padding-left: 70px;
}
.iti__arrow {
	border: none;
	width: 9px;
	height: 6px;
	background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEyIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xLjUgMS43NUw2IDYuMjVMMTAuNSAxLjc1IiBzdHJva2U9IiM0MjRGNDQiIHN0cm9rZS1vcGFjaXR5PSIwLjUiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=)
		no-repeat center;
}
.iti__country {
	padding: 5px 25px;
}
.woocommerce-checkout .form-row:not(#vat_field_field) label,
.woocommerce-checkout .form-row label .optional {
	display: none;
}
#vat_field_field {
	position: relative;
}
.woocommerce-checkout #vat_field_field label {
	font-size: 0;
	position: absolute;
	right: 25px;
	top: 31px;
	z-index: 1;
	width: 24px;
	height: 24px;
	background: url(../img/help-circle.svg) center no-repeat;
	background-size: contain;
	transform: translateY(-50%);
}
.woocommerce-checkout #vat_field_field label::before {
	content: 'For European companies only';
	font-size: 14px;
	line-height: 129.2%;
	color: #424f44;
	background: rgba(255, 255, 255, 0.16);
	box-shadow: inset -4px -2px 15px rgba(190, 190, 190, 0.25),
		inset 9px 8px 13px rgba(0, 0, 0, 0.12);
	backdrop-filter: blur(14px);
	border-radius: 8px;
	padding: 6px 11px;
	display: block;
	width: max-content;
	transform: translate(-50%, -100%);
	bottom: 0;
	position: absolute;
}
#vat_field {
	padding-right: 60px;
}
#billing_email_field,
.billing_heading_field {
	width: 100% !important;
}
.billing_heading_field {
	padding-top: 60px;
}
.next__menu {
	padding-top: 70px;
}
#ship-to-different-address {
	padding-top: 18px;
}
.woocommerce-form-login-toggle,
.woocommerce-form-login p {
	font-size: 14px;
}
.woocommerce-form-login-toggle {
	margin-bottom: 10px;
}
.woocommerce-form-login > p {
	padding-top: 10px;
	width: 100%;
}
.showlogin {
	color: #b68742;
	font-weight: 700;
}
.lost_password a {
	color: #b68742;
}
@media (min-width: 992px) {
	#ship-to-different-address span {
		font-size: 18px;
	}

	section.checkout__1
		.cont__
		.tab__check
		.tab__
		.woocommerce-shipping-fields__field-wrapper
		.form-row,
	.woocommerce-form-login .form-row {
		width: calc(50% - 16px);
	}
	.woocommerce-form-login .clear {
		display: none;
	}
	section.checkout__1
		.cont__
		.tab__check
		.tab__
		.woocommerce-shipping-fields__field-wrapper,
	.woocommerce-form-login {
		display: -webkit-box;
		display: -webkit-flex;
		display: -moz-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		gap: 0 32px;
	}
}
